preprocessing_isimip/__pycache__/
preprocessing_isimip/data/
preprocessing_isimip/waterscarcity_index_isimip2b.nc
preprocessing_isimip/population_corrected_sabin/
preprocessing_isimip/.*
preprocessing_isimip/std*
preprocessing_isimip/core*
preprocessing_isimip/*.log


lifetime_waterdeficit/.ipynb_checkpoints/
lifetime_waterdeficit/core.*
lifetime_waterdeficit/*.log 
lifetime_waterdeficit/__pycache__/
lifetime_waterdeficit/.directory
lifetime_waterdeficit/data/
lifetime_waterdeficit/figures/
